<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- logo -->
    <a class="navbar-brand font-weight-bold" href="./index.html">Xiaobu</a>
    <!-- 展开/折叠按钮 -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 可折叠内容 -->
    <div class="navbar-collapse collapse" id="navbarCollapse">
        <!-- 导航内容 -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./index.html">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./archive">归档</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./links" tabindex="-1" aria-disabled="true">链接</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./about" tabindex="-1" aria-disabled="true">关于我</a>
            </li>
        </ul>
        <!-- 搜索栏 -->
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2 bdr-none" type="text" placeholder="请输入要搜索的内容" aria-label="Search">
            <button class="btn  my-2 my-sm-0 btn-secondary" type="submit">搜索</button>
        </form>
    </div>
</nav>