.banner{
    height: 400px;
    margin-bottom: 30px;
    background-color: #343a40;
}
.banner .jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner .jumbotron .title{
    font-size:50px;
    color:#fff !important;
}
.banner .bg-dark{
    background-color:#262c3a !important;
}
@media screen and (max-width:576px){
    .banner .jumbotron .title{
        font-size: 32px;
    }
}