.main{
    margin-top: 80px;
}
.badge.badge.badge-info{
    margin-right: 3px !important;
    background-color: #6c757d;
    border-radius:unset;
}
.container{
    width: 1280px !important;
    max-width: none !important;
}