<!-- 侧边栏 -->
<div class="sidebar w-100">
    <div class="item blog-nav">
        <h6 class="title font-weight-bold">博客导航</h6>
        <div class="content">
            <img src="" id="qrcode_src" alt="暂时无法显示">
            <div class="img-nav">
                <a target="blank" href="https://weibo.com/6067755914/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1"
                    class="link weibo text-dark">
                    <span class="iconfont">&#xe66b;</span>
                </a>
                <a target="blank" href="https://www.zhihu.com/people/xiao-bu-48-15-77" class="link zhihu text-dark">
                    <span class="iconfont">&#xe50f;</span>
                </a>
                <a target="blank" href="https://github.com/xiaobucvg" class="link github text-dark">
                    <span class="iconfont">&#xe64a;</span>
                </a>
            </div>
        </div>
    </div>

    <div class="item tag">
        <h6 class="title font-weight-bold">标签</h6>
        <div class="content" id="tags_content">
            <!-- 数据渲染... -->
        </div>
    </div>

    <div class="item hot">
        <h6 class="title font-weight-bold">热门文章</h6>
        <div class="content" id="hot_content">

            <!-- 渲染... -->

        </div>
    </div>
</div>