<!-- 侧边栏 -->
<div class="sidebar w-100">
    <div class="item blog-nav">
        <h6 class="title font-weight-bold">博客导航</h6>
        <div class="content">
            <img src="https://tse2-mm.cn.bing.net/th/id/OIP.ZLN97iK_1FXaSNlT-yHYUQHaHa?w=209&h=206&c=7&o=5&dpr=1.25&pid=1.7"
                alt="暂时无法显示">
            <div class="img-nav">
                <a href="#" class="link weibo text-dark">
                    <span class="iconfont">&#xe66b;</span>
                </a>
                <a href="#" class="link zhihu text-dark">
                    <span class="iconfont">&#xe50f;</span>
                </a>
                <a href="#" class="link github text-dark">
                    <span class="iconfont">&#xe64a;</span>
                </a>
                <a href="#" class="link qq text-dark">
                    <span class="iconfont">&#xe60c;</span>
                </a>
            </div>
        </div>
    </div>

    <div class="item tag">
        <h6 class="title font-weight-bold">标签</h6>
        <div class="content">
            <a href="#" class="badge">Java</a>
            <a href="#" class="badge">MySQL</a>
            <a href="#" class="badge">高并发</a>
            <a href="#" class="badge">多线程</a>
            <a href="#" class="badge">微服务</a>
            <a href="#" class="badge">小程序</a>
            <a href="#" class="badge">前端框架</a>
        </div>
    </div>

    <div class="item hot">
        <h6 class="title font-weight-bold">热门文章</h6>
        <div class="content">
            <div class="article-item">
                <a href="#" class="link">彻底搞懂Java8新特性</a>
            </div>
            <div class="article-item">
                <a href="#" class="link">彻底搞懂Java8新特性</a>
            </div>
            <div class="article-item">
                <a href="#" class="link">彻底搞懂Java8新特性</a>
            </div>
            <div class="article-item">
                <a href="#" class="link">彻底搞懂Java8新特性</a>
            </div>
        </div>
    </div>
</div>