{@each list as item, index}
<tr>
    <td>${parseInt((currentPage - 1) * hopeCount) + parseInt(index) + parseInt(1)}</td>
    <td>
        <a href="/detail.html?id=${item.id}" class="link">
            ${item.id}
        </a>
    </td>
    <td>
        {@if item.status==1001}
        <a href="/detail.html?id=${item.id}" target="blank" class="link color-link">
            ${item.title}
        </a>
        {@else}
        <a class="link color-link" href="javascript:alert('未发布')">
            ${item.title}
        </a>
        {@/if}

    </td>
    {@if item.status==1001}
    <td class="text-success">${item.statusDescription}</td>
    {@else}
    <td class="text-warning">${item.statusDescription}</td>
    {@/if}

    <td>${item.createTime}</td>
    <td>${item.updateTime}</td>
    <td>${item.reading}</td>
    <td data-id="${item.id}" data-status="${item.status}">
        <a class="link text-danger" id="delete_btn">删除</a>
        <a href="/admin/edit.html?id=${item.id}" target="blank" class="link" id="edit_btn">编辑</a>
        {@if item.status == 1001 || item.status == 1004}
        <a class="link" id="publish_btn">停止</a>
        {@else}
        <a class="link" id="publish_btn">发布</a>
        {@/if}
    </td>
</tr>
{@/each}