.pagination {
    
}
.pagination .page-item .page-link{
    color:#343a40;
}
.pagination .page-item.active{
    
}
.pagination .page-item.active a{
    color:#fff !important;
    background-color: #6c757d !important;
}
.pagination .page-item.disabled{
    cursor: not-allowed;
}
.pagination .page-item.disabled a{
    background-color: #e9ecef;
}