.archive-group{
    margin-bottom: 25px;
}
.archive-group > .archive-date > .title{
    position: relative;
    text-align: center; 
}
.archive-group > .item{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #eee solid;
}
.archive-group > .item > .link:hover{
    text-decoration: none;
}
.archive-group > .item > .link:hover .title{
    color: #0085a1 !important;
}
#page{
    display: flex;
    justify-content: center;
}