<!DOCTYPE html>
<html lang="en">

<head>
    <%=require('html-loader!../common/header/header.html')%>
    <title>
        <%=htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <%=require('html-loader!./common/header-nav/header-nav.html')%>

    <!-- 主体部分 -->
    <section class="container main">
        <!-- 图表 -->
        <div class="chart-wrap bdr-none card mb-5">
            <div class="card-header">
                文章阅读图表
            </div>
            <div class="card-body d-flex justify-content-around">
                <div class="item">
                    <canvas id="chart1" width="300" height="300"></canvas>
                    <div class="info mt-2 text-center">热门文章阅读数</div>
                </div>
            </div>
        </div>
        <!-- 日志 -->
        <div class="log-wrap bdr-none card mb-5">
            <div class="card-header">
                最近操作
            </div>
            <div class="card-body">
                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>
                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>
                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>
                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>
                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>
                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>

                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>
                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>
                <div class="item d-flex justify-content-between">
                    <a href="" class="text-dark">IP 172.165.12.32 登陆了系统</a>
                    <span>2020-12-12 23:23:10</span>
                </div>
            </div>
        </div>
    </section>

    <%=require('html-loader!../common/footer/footer.html')%>
</body>

</html>