<!DOCTYPE html>
<html lang="en">

<head>
    <%=require('html-loader!../common/header/header.html')%>
    <title>
        <%=htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <%=require('html-loader!./common/header-nav/header-nav.html')%>
    <div class="alert"></div>
    <!-- 主体部分 -->
    <section class="container main">
        <div class="bdr-none card mb-5">
            <!-- 搜索栏 -->
            <div class="bdr-none card-header">
                <div class="p-1 d-flex align-items-center text-right">
                    <div class="form-inline mr-3">
                        <input class="form-control mr-sm-2 bdr-none bd-none" type="text" placeholder="请输入要搜索的文章"
                            id="keywords_input">
                        <input type="button" class="btn bdr-none btn-color" id="search_btn" value="搜索" />
                    </div>
                    <a class=" link text-white" id="all_article_btn">所有文章</a>
                    <a href="/admin/edit.html" class="link text-white new-article"><span
                            class="iconfont mr-2">&#xe646;</span>新建博文</a>
                </div>
            </div>
            <!-- 文章表格 -->
            <div class="card-body d-flex justify-content-around table-hover">

                <table class="table">
                    <thead>
                        <tr class="bg-light">
                            <td scope="col">#</td>
                            <td scope="col">
                                <a class="link table-link" id="id_btn">ID</a>
                            </td>
                            <td scope="col"><a class="link table-link" id="title_btn">标题</a>

                            </td>
                            <td scope="col"><a class="link table-link" id="status_btn">状态</a>

                            </td>
                            <td scope="col"><a class="link table-link" id="create_time_btn">发布时间</a>

                            </td>
                            <td scope="col"><a class="link table-link" id="update_time_btn">修改时间</a>

                            </td>
                            <td scope="col"><a class="link table-link" id="reading_btn">阅读数</a>

                            </td>
                            <td scope="col"><a class="link table-link" id="status_btn">操作</a>
                            </td>
                        </tr>
                    </thead>
                    <tbody id="table_wrapper">
                        <!-- ... 模板渲染区域 -->
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-muted" id="page">
                <!-- <%=require('html-loader!../../util/pagination/pagination.html')%> -->
            </div>
        </div>
    </section>

    <%=require('html-loader!../common/footer/footer.html')%>
</body>

</html>