<!DOCTYPE html>
<html lang="en">

<head>
    <%=require('html-loader!./common/header/header.html')%>
    <title>
        <%=htmlWebpackPlugin.options.title%>
    </title>
</head>

<body>
    <%=require('html-loader!./common/header-nav/header-nav.html')%>

    <!-- 中间的巨幕 -->
    <%=require('html-loader!./common/banner/banner.html')%>

    <!-- 主体部分 -->
    <section class="container main">
        <div class="row">
            <!-- 文章内容 -->
            <div class="col-lg-8 content">
                <article class="typo typo-selection" id="article">

                </article>
            </div>
            <!-- 目录 -->
            <div class="d-none d-lg-block col-lg-3 ml-5">
                <div class="title font-weight-bold">
                    目录
                </div>
                <div id="auto_menu"></div>
            </div>
        </div>
    </section>

    <%=require('html-loader!./common/footer/footer.html')%>
</body>

</html>